<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.hudson.hibernatesynchronizer"
   name="HibernateSynchronizer Plug-in"
   version="2.3.1"
   provider-name="Joe Hudson"
   class="com.hudson.hibernatesynchronizer.Plugin">

   <runtime>
      <library name="hibernatesynchronizer.jar">
         <export name="*"/>
         <packages prefixes="com.hudson.hibernatesynchronizer"/>
      </library>
      <library name="velocity-dep-1.4-rc1.jar">
         <export name="*"/>
         <packages prefixes="org.apache"/>
      </library>
      <library name="xercesImpl.jar">
         <export name="*"/>
         <packages prefixes="org"/>
      </library>
      <library name="xmlParserAPIs.jar">
         <export name="*"/>
         <packages prefixes="org"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Hibernate Editor"
            icon="icons/hibernate.gif"
            extensions="hbm"
            contributorClass="com.hudson.hibernatesynchronizer.editor.HibernateContributor"
            class="com.hudson.hibernatesynchronizer.editor.HibernateEditor"
            id="com.hudson.hibernatesynchronizer.editor.HibernateEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Hibernate"
            id="net.sf.hibernate">
      </category>
      <wizard
            name="Hibernate Configuration File"
            icon="icons/hibernate.gif"
            category="net.sf.hibernate"
            class="com.hudson.hibernatesynchronizer.wizard.NewConfigurationWizard"
            id="com.hudson.hibernatesynchronizer.wizard.NewConfigurationWizard">
      </wizard>
      <wizard
            name="Hibernate Mapping File"
            icon="icons/hibernate.gif"
            category="net.sf.hibernate"
            class="com.hudson.hibernatesynchronizer.wizard.NewMappingWizard"
            id="com.hudson.hibernatesynchronizer.wizard.NewMappingWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Hibernate Synchronizer"
            class="com.hudson.hibernatesynchronizer.properties.HibernateProperties"
            id="com.hudson.hibernatesynchronizer.properties.ProjectProperties">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Hibernate Synchronizer"
            class="com.hudson.hibernatesynchronizer.preferences.TemplatePreferences"
            id="com.hudson.hibernatesynchronizer.preferences.TemplatePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextEditorContext"
            id="com.hudson.hibernatesynchronizer.editor.viewContribution">
         <menu
               label="Hibernate Synchronizer"
               path="additions"
               id="com.hudson.hibernatesynchronizer.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Format Source Code"
               class="com.hudson.hibernatesynchronizer.editor.actions.FormatAction"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               enablesFor="*.hbm"
               id="com.hudson.hibernatesynchronizer.editor.actions.FormatAction">
         </action>
         <action
               label="Snippet to Clipboard"
               class="com.hudson.hibernatesynchronizer.editor.actions.SnippetToClipboard"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               enablesFor="*.hbm"
               id="com.hudson.hibernatesynchronizer.editor.actions.SnippetToClipboard">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.hbm"
            id="com.hudson.hibernatesynchronizer.contribution1">
         <menu
               label="Hibernate Synchronizer"
               path="additions"
               id="com.hudson.hibernatesynchronizer.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Remove Files"
               class="com.hudson.hibernatesynchronizer.popup.actions.RemoveRelatedFiles"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.RemoveRelatedFiles">
         </action>
         <action
               label="Synchronize and Overwrite"
               class="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeOverwriteFiles"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeOverwriteFiles">
         </action>
         <action
               label="Synchronize Files"
               class="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeFiles"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeFiles">
         </action>
         <action
               label="Template Generation"
               class="com.hudson.hibernatesynchronizer.popup.actions.TemplateGeneration"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.TemplateGeneration">
         </action>
         <action
               label="Add Mapping Reference"
               class="com.hudson.hibernatesynchronizer.popup.actions.AddMappingReference"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.AddMappingReference">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.hbm.xml"
            id="com.hudson.hibernatesynchronizer.contribution1">
         <menu
               label="Hibernate Synchronizer"
               path="additions"
               id="com.hudson.hibernatesynchronizer.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Template Generation"
               class="com.hudson.hibernatesynchronizer.popup.actions.TemplateGeneration"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.TemplateGeneration">
         </action>
         <action
               label="Synchronize Files"
               class="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeFiles"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.SynchronizeFiles">
         </action>
         <action
               label="Add Mapping Reference"
               class="com.hudson.hibernatesynchronizer.popup.actions.AddMappingReference"
               menubarPath="com.hudson.hibernatesynchronizer.menu1/group1"
               id="com.hudson.hibernatesynchronizer.popup.actions.AddMappingReference">
         </action>
      </objectContribution>
   </extension>

</plugin>
